/* анимация круга в квадрат со сменой цвета */

.redCircle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 100%;
  animation: toBlueBox 4s infinite linear;
}
@keyframes toBlueBox {
  0% {
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: blue;
    border-radius: 0;
  }
  100% {
    background-color: red;
    border-radius: 100%;
  }
}

/* анимация марио */
.mario {
  width: 68px;
  height: 68px;
  background-image: url('images/mario-walk-n-jump-68.png');
  margin: 50px 0;
}

.walk {
  animation: walk 0.4s steps(1) infinite;
}

.path {
  width: 68px;
  height: 68px;
  position: relative;
  top: 0;
  animation: path 4s linear infinite;
}

.jump {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('images/mario-walk-n-jump-68.png');
  opacity: 0;
}

@keyframes walk {
  0% {
    background-position: 0 top;
  }
  25% {
    background-position: -68px top;
  }
  50% {
    background-position: -136px top;
  }
  75% {
    background-position: -204px top;
  }
}

@keyframes path {
  0% {
    left: -68px;
    top: 0;
  }
  48% {
    left: 48%;
    top: 0;
  }
  50% {
    left: 50%;
    top: -100px;
  }
  52% {
    left: 52%;
    top: 0;
  }
  100% {
    left: 100%;
    top: 0;
  }
}
@keyframes jump {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 1;
    background-position: -272px top;
  }
  50% {
    opacity: 1;
    background-position: -340px top;
  }
  52% {
    opacity: 0;
    background-position: -340px top;
  }
  100% {
    opacity: 0;
  }
}

/* анимация взрыва */
.blast {
  width: 151px;
  height: 151px;
  background-image: url('images/blast-151.png');
  animation: blast 2s steps(1) infinite;
}
.blast:hover {
  animation-play-state: paused;
}
@keyframes blast {
  0% {
    opacity: 0;
    background-position: 0 0;
  }
  /* первый ряд */
  3% {
    opacity: 1;
    background-position: 0 0;
  }
  6% {
    background-position: -151px 0;
  }
  9% {
    background-position: -302px 0;
  }
  12% {
    background-position: -453px 0;
  }
  15% {
    background-position: -604px 0;
  }
  18% {
    background-position: -755px 0;
  }
  21% {
    background-position: -906px 0;
  }
  24% {
    background-position: -1057px 0;
  }
  /* второй ряд */
  27% {
    background-position: 0 -151px;
  }
  30% {
    background-position: -151px -151px;
  }
  33% {
    background-position: -302px -151px;
  }
  36% {
    background-position: -453px -151px;
  }
  39% {
    background-position: -604px -151px;
  }
  42% {
    background-position: -755px -151px;
  }
  45% {
    background-position: -906px -151px;
  }
  48% {
    background-position: -1057px -151px;
  }
  /* третий ряд */
  51% {
    background-position: 0 -302px;
  }
  54% {
    background-position: -151px -302px;
  }
  57% {
    background-position: -302px -302px;
  }
  60% {
    background-position: -453px -302px;
  }
  63% {
    background-position: -604px -302px;
  }
  66% {
    background-position: -755px -302px;
  }
  69% {
    background-position: -906px -302px;
  }
  72% {
    background-position: -1057px -302px;
  }
  /* четвёртый ряд */
  75% {
    background-position: 0 -453px;
  }
  78% {
    background-position: -151px -453px;
  }
  81% {
    background-position: -302px -453px;
  }
  84% {
    background-position: -453px -453px;
  }
  87% {
    background-position: -604px -453px;
  }
  90% {
    background-position: -755px -453px;
  }
  93% {
    background-position: -906px -453px;
  }
  96% {
    background-position: -1057px -453px;
  }
}

/* анимация смайла */
.emoji {
  width: 160px;
  height: 160px;
  position: relative;
  background-image: url('images/emoji-160.png');
}
.emoji:hover {
  /* animation: rotate 2s ease-in 1 forwards; */
  transform: scale(2);
}
.eyes,
.mouth {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('images/emoji-160.png');
}
.eyes {
  background-position: -160px top;
}
.mouth {
  background-position: -640px top;
}
.animMouth {
  animation: mouth 3s steps(1) infinite;
}
.animEyes {
  animation: eyes 3s steps(1) infinite;
}
.animMouth1 {
  animation: mouth 3s steps(1) reverse infinite;
}
.animEyes1 {
  animation: eyes 3s steps(1) reverse infinite;
}
.animMouth2 {
  animation: mouth 3s steps(1) reverse infinite;
}
.animEyes2 {
  animation: eyes 3s steps(1) alternate infinite;
}

@keyframes mouth {
  0% {
    background-position: -160px top;
  }
  33% {
    background-position: -320px top;
  }
  66% {
    background-position: -480px top;
  }
}
@keyframes eyes {
  0% {
    background-position: -640px top;
  }
  33% {
    background-position: -800px top;
  }
  66% {
    background-position: -960px top;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(270deg);
  }
}
