* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row p {
  font-size: 2.18vw;
  width: 200%;
  background-color: aliceblue;
}
.container-row {
  padding-top: 3.8vw;
  background-color: cornflowerblue;
  height: 10vw;
  width: 100%;
  position: relative;
}
.row {
  position: absolute;
  animation: row 6s linear infinite;
}

@keyframes row {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container-circle {
  width: 50%;
  height: 30vw;
  border: 4px solid cornflowerblue;
  position: relative;
}
.circle {
  width: 18vw;
  height: 18vw;
  background-color: cornflowerblue;
  border-radius: 100%;
  position: absolute;
  animation: moveCircle 10s ease infinite;
  transition: all 0.6s ease;
}
.circle:hover {
  animation-play-state: paused;
  background-color: darksalmon;
  transition: all 0.6s ease;
}

@keyframes moveCircle {
  0% {
    transform: translate(32%, 20%);
  }
  20% {
    transform: translate(0%, 0%);
  }
  40% {
    transform: translate(25%, 40%);
  }
  60% {
    transform: translate(55%, 60%);
  }
  80% {
    transform: translate(85%, 0%);
  }
  100% {
    transform: translate(32%, 20%);
  }
}

.clock {
  width: 300px;
  height: 100px;
  display: block;
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}
.clock-element,
.clock-divider {
  display: inline-block;
  width: 60px;
  height: 100px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 4px;
  margin: 0 2px;
  position: relative;
}
.clock-divider {
  width: 20px;
  background-color: white;
  color: cornflowerblue;
  line-height: 50px;
  font-size: 100px;
  text-align: center;
}
.clock-element > div {
  position: absolute;
  width: 100%;
  line-height: 100px;
  font-size: 60px;
  text-align: center;
}

.sec-e {
  animation: edinitsa 10s steps(10) infinite;
}
.sec-d {
  animation: desyatok 60s steps(6) infinite;
}
.min-e {
  animation: edinitsa 600s steps(10) infinite;
}
.min-d {
  animation: desyatok 3600s steps(6) infinite;
}
@keyframes desyatok {
  0% {
    top: 0;
  }
  100% {
    top: -600%;
  }
}
@keyframes edinitsa {
  0% {
    top: 0;
  }
  100% {
    top: -1000%;
  }
}
.first,
.second {
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  margin: 2px;
}
.first:hover ~ .second {
  background-color: coral;
  transition: all 0.8s ease-in;
}
