div {
  margin: 20px;
}
.fixed {
  width: 200px;
  height: 200px;
  background-color: brown;
}
.responsive-width {
  width: 10vw;
  height: 10vw;
  background-color: cornflowerblue;
}
.responsive-height {
  width: 10vh;
  height: 10vh;
  background-color: cadetblue;
}
