@media screen and (max-width: 768px) {
  .lesson {
    flex-direction: column;
  }
  .lesson > div {
    width: 100%;
    height: 22rem;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
}
