#afisha {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  flex-wrap: wrap;
}
.card {
  width: 30%;
}
.card h3 {
  margin-bottom: 20px;
}
.events {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.event-time {
  color: #111;
}
