#product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product img {
  width: 100%;
}
.product-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 40px;
  width: 140px;
  padding: 14px 5px;
}
.buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  width: 20px;
}
.buttons p {
  user-select: none;
}
